node_modules/
.expo/
dist/
web-build/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
.env*.local
.env

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Logs
npm-debug.*
yarn-error.*

# Expo / EAS
.expo-shared/
android/
ios/
